/* .wp-block-buttons .wp-block-button.is-style-icon a::after {
    content: '>';
} */

/* remove padding from entry content */
.entry-content {
    padding: 1rem;
}

/* remove underline from links */
.wp-block-cover__inner-container a {
    text-decoration: none;
}

/*  */
.entry-content form.fluent_form_1 {
    max-width: 660px;
    margin: 4rem auto;
    border: 2px solid #023630;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px #333;
}

/* style submit button */
.entry-content form.fluent_form_1 .ff-btn-submit:not(.ff_btn_no_style) {
    background-color: #023630;
    color: #ffffff;
}

/* product collection */
ul.wp-block-woocommerce-product-template {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 2rem;
    width: 100%;
    padding: 0;
    list-style: none;
    margin: 0;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    ul.wp-block-woocommerce-product-template {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

@media (max-width: 480px) {
    ul.wp-block-woocommerce-product-template {
        grid-template-columns: 1fr !important;
    }
}

ul.wp-block-woocommerce-product-template li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
    width: 100%;
}

/* center slider */
#metaslider-id-218.metaslider.metaslider-flex {
    max-width: 800px !important;
    margin: 0 auto;
}

.flex-viewport {
    overflow: visible !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border: 2px solid red;
}

#metaslider_218 {
    margin: 0 auto;
}

#metaslider_218 .slides {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border: 2px solid red;
    width: 100% !important;
}

#metaslider_218 .slides li {
    display: flex !important;
    justify-content: center !important;
    width: 100% !important;
}

#metaslider_218 .slides img {
    max-width: 800px;
    height: auto;
    margin: 0 auto;
    width: 100%;
}